.section1,
.section2{
  padding: 50px 30px;
}
 
.section1 {
  background:pink;
}
.section2 {
  position: relative;
  z-index: 0;
}
.section2::after{
  content: '';
  position: absolute;
  left:0;
  top: 0;
 
  /*四角形を傾けます*/
  transform: skewY(-5deg);
  transform-origin: bottom left;
 
  z-index: -1;
  width:100%;
  height:100%;
  background:#fff;
}