div {
    color: white; /* 文字色を白色に */
  }
  
  .odd {
    background-color: blue;/* 奇数ページを青色に */
  }
  .even {
    background-color: green;/* 偶数ページを緑色に */
  }
  
  #flipbook {
    width: 400px; /* flipbook自体の横幅なので各ページは200px */
    height: 400px;
    margin: 10% 20%; /* 一番左端だとたまに見切れるので適当に移動 */
  }