body {
    padding: 0; margin: 0
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#map{
    width: 1000px;
    height: 100%;
}

button{
    width: 100px;
    height: 30px;
    margin-top: 0.5rem;
}

#main__box{
    display: flex;
}

.select__item{
    margin-left: 0.5rem;
}

.delete__check{
    display: inline;
}